/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #bcfd49;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ddd;
  background-color: white;
}

table th, table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: black;
  color: #fff;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-top: 30px;
  text-align: center;
}

/* Adjust other element styles as needed */
